<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="David Dias">
  <title>Issue Tracker Dashboard</title>
  <link href="css/issue-tracker.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#home">Node.js Issue Tracker</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/about">What is this?</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p class="lead">Issues:</p>
        <div class="list-group">
          <a href="/untouched" class="list-group-item {{a}}">untouched</a>
          <a href="/withoutLabel" class="list-group-item {{b}}">without label</a>
          <a href="/noOneAssigned" class="list-group-item {{c}}">with no one assigned</a>
          <a href="/noMilestone" class="list-group-item {{d}}">without milestone</a>
          <a href="/noComments" class="list-group-item {{e}}">without comments</a>
          <a href="/noActivitySevenDays" class="list-group-item {{f}}">without activity for 7 days</a>
          <a href="/noActivityOneYear" class="list-group-item {{g}}">without activity for 1 year</a>
        </div>
      </div>

      <div class="col-md-9">

        {{#if issues}}

        <!-- Issues -->
        {{#each issues}}
        <div class="row">
          <div class="col-sm-12 col-lg-12 col-md-12">
            <div class="thumbnail">
              <h4 class="pull-right"><a href="{{htmlUrl}}">#{{number}}</a></h4>
              <h4><a href="{{htmlUrl}}">{{title}}</a></h4>
              <h5 class="pull-right">{{labelify labels}}</h5>
              <h5>{{user.login}} | {{milestone.title}} | {{assignee.login}}</h5>
              <p>{{truncate body}}</p>
            </div>
          </div>
        </div>
        <br />
        {{/each}}

        <ul class="pager">
          {{#if previousPageNr}}
          <li class="previous"><a href="/{{typeIssues}}-{{previousPageNr}}">&larr; Previous</a></li>
          {{else}}
          <li class="previous disabled"><a href="#">&larr; Previous </a></li>
          {{/if}}        
          <li>{{nrCurrentPage}} out of {{nrMaxPages}}</li>
          {{#if nextPageNr}}
          <li class="next"><a href="/{{typeIssues}}-{{nextPageNr}}">Next &rarr;</a></li>
          {{else}}
          <li class="next disabled"><a href="#">Next &rarr;</a></li>
          {{/if}}
        </ul>

        {{else}}

        <center><p>There are no issues listed in {{typeIssues}} category. Sweet!</p></center>

        {{/if}}
      </div>
    </div>
  </div>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
