<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="David Dias">
  <title>Issue Tracker Dashboard</title>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/issue-tracker.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#home">Node.js Issue Tracker</a>
          </div>

          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <li><a href="https://github.com/diasdavid/nitd#nitd---nodejs-issue-tracker-dashboard">What is this?</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <p class="lead">Issues:</p>
              <div class="list-group">
                  <a href="/untouched?page=1" class="list-group-item {{a}}">untouched</a>
                  <a href="/withoutLabel?page=1" class="list-group-item {{b}}">without label</a>
                  <a href="/noOneAssigned?page=1" class="list-group-item {{c}}">with no one assigned</a>
                  <a href="/noMilestone?page=1" class="list-group-item {{d}}">without milestone</a>
                  <a href="/noComments?page=1" class="list-group-item {{e}}">without comments</a>
                  <a href="/noActivitySevenDays?page=1" class="list-group-item {{f}}">without activity for 7 days</a>
                  <a href="/noActivityOneYear?page=1" class="list-group-item {{g}}">without activity for 1 year</a>
              </div>
          </div>

          <div class="col-md-9">

              <div class="row">
                  <div class="col-md-2 col-md-offset-10">
                      <div class="btn-group">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                              Sorting <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="?page=1&sort=asc">Ascending</a></li>
                              <li><a href="?page=1?sort=dsc">Descending</a></li>
                          </ul>
                      </div>
                  </div>
              </div>

              <!-- Issues -->
              {{#each issues}}
              <div class="row">
                  <div class="col-sm-12 col-lg-12 col-md-12">
                      <div class="thumbnail">
                          <h4 class="pull-right"><a href="{{htmlUrl}}">#{{number}}</a></h4>
                          <h4><a href="{{htmlUrl}}">{{title}}</a></h4>
                          <h5 class="pull-right">{{labelify labels}}</h5>
                          <h5>{{user.login}} | {{milestone.title}} | {{assignee.login}}</h5>
                          <p>{{truncate body}}</p>
                      </div>
                  </div>
              </div>
              <br />
              {{/each}}

              <div class="row">
                  <div class="col-md-9 col-centered">
                      <ul class="pagination col-centered">
                          {{#paginate pagination type="previous"}}
                          <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}" >Prev</a></li>
                          {{/paginate}}
                          {{#paginate pagination type="middle" limit="12"}}
                          <li {{#if active}}class="active"{{/if}}><a href="?page={{n}}">{{n}}</a></li>
                          {{/paginate}}
                          {{#paginate pagination type="next"}}
                          <li {{#if disabled}}class="disabled"{{/if}}><a href="?page={{n}}">Next</a></li>
                          {{/paginate}}
                      </ul>
                      <br />
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
